<footer class="pt-4 my-md-5 pt-md-5">
        <div id="footer-row" class="row">
          <div class="col-md-3">
            <ul class="footer-list">
            <li >
              {% if site.author %}
                {{ site.author | escape }}
              {% else %}
                {{ site.title | escape }}
              {% endif %}
              </li>
              {% if site.email %}
              <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
              {% endif %}
            </ul>
          </div>
          <div class="col-md-3">
            <ul class="footer-list">
              <li><a href="https://github.com/{{ site.github_username| cgi_escape | escape }}">
                <svg class="svg-icon"><use href="{{ "/assets/minima-social-icons.svg#github" | relative_url }}"></use></svg> 
                  <span >{{ site.github_username| escape }}</span>
                </a>
              </li>
              <li>
                <a href="https://www.linkedin.com/in/{{ site.linkedin_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ "/assets/minima-social-icons.svg#linkedin" | relative_url }}"></use></svg> 
                  <span >{{ site.linkedin_username| escape }}</span>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <p class="text-muted"> {{ site.description | escape }} </p>
          </div>
        </div>
</footer>